@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  background: #ebecec;
  min-width: 1200px; }

.topBar {
  width: 100%;
  background: #0088ff;
  position: relative;
  height: 43px; }
  .topBar h2 {
    font: 13px/43px "微软雅黑";
    font-weight: bold;
    color: #91ccff;
    padding: 0 30px; }
  .topBar .content li a {
    display: block;
    font: 11px/43px "微软雅黑";
    color: #ffffff;
    padding: 0 18px;
    position: relative; }
    .topBar .content li a span {
      margin-right: 4px; }
    .topBar .content li a em {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background: #ff0000;
      position: absolute;
      top: 12px;
      right: 13px;
      display: block; }
  .topBar .content li .on {
    background: #007eed;
    height: 43px; }
  .topBar .content li a:hover {
    background: #007eed;
    height: 43px; }
  .topBar .count .countBox {
    margin-right: 4px; }
    .topBar .count .countBox a {
      padding: 0 10px;
      font: 12px/43px "微软雅黑";
      display: block;
      color: #fff; }
      .topBar .count .countBox a i {
        margin-right: 5px; }
    .topBar .count .countBox .on {
      background: #007eed;
      height: 43px; }
    .topBar .count .countBox a:hover {
      background: #007eed;
      height: 43px; }
  .topBar .count .myCount {
    margin-right: 4px; }
    .topBar .count .myCount ul li {
      padding: 0 10px;
      font: 12px/43px "微软雅黑";
      display: block;
      color: #fff; }
      .topBar .count .myCount ul li i {
        margin-right: 5px; }
      .topBar .count .myCount ul li a {
        color: #fff; }

.header {
  width: 100%;
  height: 76px;
  background: #ffffff;
  position: relative; }
  .header h2 {
    width: 240px;
    position: relative;
    height: 100%; }
    .header h2 img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
  .header .search {
    width: 168px;
    height: 33px;
    position: absolute;
    left: 240px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    padding-left: 20px; }
    .header .search input {
      width: 136px;
      height: 12px;
      margin-top: 10px;
      font-family: "微软雅黑";
      color: #c3c3c3; }
    .header .search a {
      margin-top: 6px;
      margin-left: 4px; }
      .header .search a i {
        font-size: 17px;
        color: #000000; }

.footer {
  width: 100%;
  padding-top: 70px; }
  .footer p {
    width: 100%;
    text-align: center;
    font: 13px/29px "微软雅黑";
    color: #9a9a9a; }
    .footer p a {
      font: 13px/29px "微软雅黑";
      color: #9a9a9a; }
    .footer p .tousu {
      padding-left: 24px;
      background: url(../images/anquan.png) no-repeat left center; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  top: 0;
  left: 0; }
  .loading h2 {
    width: 138px;
    height: 32px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    margin: auto;
    font: 12px/32px "微软雅黑";
    color: #000;
    text-align: center;
    font-size: 0; }
    .loading h2 span, .loading h2 em {
      display: inline-block;
      vertical-align: middle;
      font: 12px/32px "微软雅黑"; }
    .loading h2 span {
      margin-right: 10px;
      animation: mymove 5s linear infinite; }

@keyframes mymove {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

@-moz-keyframes mymove /* Firefox */ {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

@-webkit-keyframes mymove /* Safari 和 Chrome */ {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

@-o-keyframes mymove /* Opera */ {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

.container {
  width: 100%;
  background: #eeefef;
  margin-top: 22px; }
  .container .lBox {
    width: 12%;
    margin: 0 0.8% 0 3%;
    background: #ffffff; }
    .container .lBox .customerCenter {
      border-bottom: 2px solid #eeefef; }
      .container .lBox .customerCenter h2 {
        font: 15px/50px "微软雅黑";
        color: #afafaf;
        text-align: center;
        border-bottom: 2px solid #eeefef; }
      .container .lBox .customerCenter ul {
        padding-top: 8px; }
        .container .lBox .customerCenter ul li {
          font: 12px/28px "微软雅黑";
          color: #000000; }
        .container .lBox .customerCenter ul span {
          margin-left: 16%;
          margin-right: 6px; }
        .container .lBox .customerCenter ul em {
          margin-left: 6px; }
        .container .lBox .customerCenter ul .hot {
          color: #ff4e00; }
      .container .lBox .customerCenter h3 {
        font-size: 0;
        text-align: center;
        padding-top: 10px 0; }
        .container .lBox .customerCenter h3 span, .container .lBox .customerCenter h3 em {
          display: inline-block;
          vertical-align: top;
          width: 58px;
          height: 34px;
          font: 12px/34px "微软雅黑";
          color: #ffffff;
          text-align: center;
          margin: 10px 5px;
          cursor: pointer; }
        .container .lBox .customerCenter h3 span {
          background: #0088ff;
          margin-left: 0; }
        .container .lBox .customerCenter h3 em {
          background: #5185b3;
          margin-right: 0; }
    .container .lBox .setCusInfo {
      padding-top: 4px; }
      .container .lBox .setCusInfo dl dt, .container .lBox .setCusInfo dl dd a {
        padding-left: 36%;
        font: 12px/36px "微软雅黑";
        color: #979797; }
      .container .lBox .setCusInfo dl dd a {
        color: #000; }
      .container .lBox .setCusInfo dl dd {
        border-left: 4px solid #fff; }
      .container .lBox .setCusInfo dl dd:hover {
        border-left: 4px solid #0088ff;
        background: #ecf6ff; }
      .container .lBox .setCusInfo dl .on {
        border-left: 4px solid #0088ff;
        background: #ecf6ff; }
      .container .lBox .setCusInfo .shmj dt {
        background: url(../images/hb.png) no-repeat 24% center; }
      .container .lBox .setCusInfo .shdd dt {
        background: url(../images/dd.png) no-repeat 24% center; }
      .container .lBox .setCusInfo .shzh dt {
        background: url(../images/zhzj.png) no-repeat 24% center; }
      .container .lBox .setCusInfo .shdl dt {
        background: url(../images/dltc.png) no-repeat 24% center; }
  .container .rBox {
    width: 81%;
    min-height: 600px; }
    .container .rBox .mjsy {
      width: 100%; }
      .container .rBox .mjsy .leftBox {
        width: 73%; }
        .container .rBox .mjsy .leftBox .rmzq {
          padding-left: 20px;
          background: #fff;
          padding-top: 18px; }
          .container .rBox .mjsy .leftBox .rmzq h2 {
            font: 20px/20px "微软雅黑";
            color: #000;
            border-left: 4px solid #0088ff;
            margin: 0 0px 18px 0;
            padding-left: 7px; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon a {
            display: block;
            font: 13px/37px "微软雅黑";
            color: #000;
            padding: 0 13px;
            margin: 7px 15px;
            border: 2px solid #ffb400;
            border-radius: 2px; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .yellow {
            border: 2px solid #ffb400; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .blue {
            border: 2px solid #008aff; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .green {
            border: 2px solid #55c916; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .orange {
            border: 2px solid #ff5a00; }
        .container .rBox .mjsy .leftBox .jxtj, .container .rBox .mjsy .leftBox .zxsp {
          padding-left: 20px;
          padding-top: 18px;
          background: #fff; }
          .container .rBox .mjsy .leftBox .jxtj h2, .container .rBox .mjsy .leftBox .zxsp h2 {
            font: 20px/20px "微软雅黑";
            color: #000;
            border-left: 4px solid #0088ff;
            padding-left: 7px;
            margin: 0 0px 18px 0; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li {
            border-top: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
            padding: 14px 0; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a span, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a em, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a i, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a b, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a strong, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a span, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a em, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a i, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a b, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a strong {
              display: inline-block;
              vertical-align: top;
              font: 12px/21px "微软雅黑"; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a span, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a span {
              width: 36px;
              height: 21px;
              background: #fa9c22;
              border-radius: 10px;
              font: 12px/21px "微软雅黑";
              color: #fff;
              text-align: center;
              margin: 0 13px; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a em, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a em {
              width: 52%;
              color: #000; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a i, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a i {
              width: 21%;
              text-align: center;
              color: #8c8c8c; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a b, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a b {
              width: 8%;
              text-align: center;
              color: #000; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a strong, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a strong {
              width: 10%;
              text-align: center;
              font-weight: bold;
              color: #fa9c22;
              font-size: 14px; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li:hover, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li:hover {
            background: #ecf6ff; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation {
            text-align: center;
            font-size: 0; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation li, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation li {
              display: inline-block;
              vertical-align: top;
              border: 1px solid #e2e2e3;
              width: 32px;
              margin: 20px 6px;
              border-radius: 4px; }
              .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation li a, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation li a {
                font: 12px/32px "微软雅黑";
                color: #000;
                display: block; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation .on, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation .on {
              border: 1px solid #0088ff; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation li:hover, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation li:hover {
              border: 1px solid #0088ff; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox h3, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 {
            text-align: center;
            font-size: 0; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox h3 span, .container .rBox .mjsy .leftBox .jxtj .jxBox h3 em, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 span, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 em {
              display: inline-block;
              vertical-align: middle;
              font: 12px/68px "微软雅黑";
              color: #0088ff; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox h3 span, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 span {
              margin: 0 5px; }
        .container .rBox .mjsy .leftBox .zxsp, .container .rBox .mjsy .leftBox .jxtj, .container .rBox .mjsy .leftBox .zxsp, .container .rBox .mjsy .leftBox .rmzq {
          margin-bottom: 10px; }
      .container .rBox .mjsy .rightBox {
        width: 25%;
        background: #fff; }
        .container .rBox .mjsy .rightBox .ptgg, .container .rBox .mjsy .rightBox .mjbz {
          padding-left: 29px;
          padding-bottom: 20px;
          border-bottom: 10px solid #eeefef; }
          .container .rBox .mjsy .rightBox .ptgg h2, .container .rBox .mjsy .rightBox .mjbz h2 {
            font: 20px/20px "微软雅黑";
            color: #000;
            border-left: 4px solid #0088ff;
            margin: 18px 0;
            padding-left: 7px; }
          .container .rBox .mjsy .rightBox .ptgg ul li a span, .container .rBox .mjsy .rightBox .ptgg ul li a em, .container .rBox .mjsy .rightBox .mjbz ul li a span, .container .rBox .mjsy .rightBox .mjbz ul li a em {
            font: 12px/31px "微软雅黑";
            color: #000000; }
          .container .rBox .mjsy .rightBox .ptgg ul li a span, .container .rBox .mjsy .rightBox .mjbz ul li a span {
            color: #919191;
            margin-right: 10px; }
          .container .rBox .mjsy .rightBox .ptgg ul li a em, .container .rBox .mjsy .rightBox .mjbz ul li a em {
            width: 62%; }
          .container .rBox .mjsy .rightBox .ptgg ul li a:hover em, .container .rBox .mjsy .rightBox .mjbz ul li a:hover em {
            text-decoration: underline; }

.mlfl {
  width: 100%;
  padding-top: 58px;
  background: #fff;
  height: 100%;
  min-height: 500px; }
  .mlfl h2 {
    width: 95%;
    margin: 5px auto;
    font: 12px/34px "微软雅黑";
    background: #e9f8ff;
    border: 1px solid #a4c2dc;
    text-indent: 10px; }
    .mlfl h2 a {
      color: #333;
      font-weight: bold; }
    .mlfl h2 a:hover {
      text-decoration: underline; }
  .mlfl table {
    width: 95%;
    margin: 5px auto; }
    .mlfl table td {
      border: 1px solid #e2e2e3;
      text-align: center;
      font: 12px/32px "微软雅黑";
      color: #000000; }
      .mlfl table td a {
        color: #000000; }
      .mlfl table td a:hover {
        text-decoration: underline; }

.myCollection {
  width: 100%;
  background: #fff;
  padding-bottom: 100px; }
  .myCollection h2 {
    width: 97%;
    margin: 0 auto;
    font: 16px/66px "微软雅黑";
    color: #000; }
    .myCollection h2 a {
      padding-left: 24px;
      background: url(../images/goback.png) no-repeat left center;
      margin-right: 10px;
      color: #0088ff; }
    .myCollection h2 span {
      font-weight: bold; }
  .myCollection .tableBox {
    width: 97%;
    overflow-x: auto; }
    .myCollection .tableBox table {
      width: 1619px; }
      .myCollection .tableBox table th {
        font: 12px/38px "微软雅黑";
        color: #000;
        font-weight: bold;
        background: #f1f1f1; }
      .myCollection .tableBox table td {
        font: 12px/50px "微软雅黑";
        text-align: center;
        vertical-align: middle; }
        .myCollection .tableBox table td img {
          margin: 0 auto;
          vertical-align: middle; }
        .myCollection .tableBox table td b {
          display: block;
          width: 100%;
          height: 100%; }
        .myCollection .tableBox table td .orange {
          color: #fa9c22;
          font-weight: bold; }
        .myCollection .tableBox table td button {
          padding: 7px 10px;
          background: #4a9fff;
          color: #fff;
          border-radius: 2px; }
        .myCollection .tableBox table td .colorPink {
          color: #ff6666; }
      .myCollection .tableBox table .spxxTitle, .myCollection .tableBox table .spxx {
        width: 716px;
        padding-left: 30px; }
      .myCollection .tableBox table .kfqq {
        width: 140px; }
      .myCollection .tableBox table .mz, .myCollection .tableBox table .sj {
        width: 126px; }
      .myCollection .tableBox table .sc.gm {
        width: 100px; }
      .myCollection .tableBox table .mjcn {
        width: 216px; }
      .myCollection .tableBox table .spxx {
        text-align: left; }
        .myCollection .tableBox table .spxx a {
          display: block;
          width: 100%;
          height: 100%;
          color: #000;
          text-align: center;
          vertical-align: middle;
          font-size: 0; }
          .myCollection .tableBox table .spxx a span {
            padding: 0 5px;
            background: #ff7200;
            margin-right: 12px;
            color: #fff;
            border-radius: 10px;
            height: 22px;
            font: 12px/22px "微软雅黑";
            text-align: center;
            margin-top: 14px; }
          .myCollection .tableBox table .spxx a span, .myCollection .tableBox table .spxx a em {
            font-size: 12px; }
          .myCollection .tableBox table .spxx a em {
            width: 630px;
            text-align: left; }
      .myCollection .tableBox table tr {
        border-top: 1px solid #eeefef;
        border-bottom: 1px solid #eeefef; }
      .myCollection .tableBox table tr:hover {
        background: #ecf6ff; }

.myOrder {
  padding-top: 66px;
  padding-left: 16px;
  background: #fff; }
  .myOrder .myOrderTop {
    border-top: 1px solid #daedfa;
    border-bottom: 1px solid #daedfa;
    padding: 28px 0; }
    .myOrder .myOrderTop .daysOfBox input {
      width: 294px;
      margin-right: 20px; }
    .myOrder .myOrderTop .daysOfBox button {
      font: 12px/22px "微软雅黑";
      border: 1px solid #9bc6e0;
      padding: 0 10px;
      margin: 0 4px;
      background: #fff;
      border-radius: 2px;
      margin-top: 5px; }
    .myOrder .myOrderTop .orderSearch {
      margin-left: 20px; }
      .myOrder .myOrderTop .orderSearch label {
        font: 12px/32px "微软雅黑";
        color: #858585; }
      .myOrder .myOrderTop .orderSearch button {
        font: 12px/30px "微软雅黑";
        background: #1589ff;
        color: #fff;
        border-radius: 2px; }
      .myOrder .myOrderTop .orderSearch input {
        font: 12px/30px "微软雅黑";
        color: #cacaca;
        border: 1px solid #e2e2e3;
        border-radius: 2px;
        margin-left: 10px;
        padding-left: 10px;
        margin-right: 8px; }
  .myOrder .orderInfo .orderState {
    padding: 16px 0 0 0;
    position: relative; }
    .myOrder .orderInfo .orderState p {
      position: absolute;
      width: 100%;
      height: 0;
      border: 1px solid #e2e2e3;
      left: 0;
      bottom: 0;
      z-index: 1; }
    .myOrder .orderInfo .orderState ul {
      position: relative;
      z-index: 2; }
    .myOrder .orderInfo .orderState li {
      font: 12px/30px "微软雅黑";
      color: #000;
      border: 1px solid #e2e2e3;
      border-bottom: 2px solid transparent;
      padding: 0 18px;
      border-radius: 4px;
      margin: 0 2px; }
      .myOrder .orderInfo .orderState li a {
        color: #000; }
    .myOrder .orderInfo .orderState .on {
      border-bottom: 2px solid #fff; }
