@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  background: #ebecec;
  min-width: 1200px; }

.topBar {
  width: 100%;
  background: #0088ff;
  position: relative;
  height: 44px; }
  .topBar h2 {
    font: 13px/43px "微软雅黑";
    font-weight: bold;
    color: #91ccff;
    padding: 0 30px; }
  .topBar .content li {
    height: 43px; }
    .topBar .content li a {
      display: block;
      font: 11px/43px "微软雅黑";
      color: #ffffff;
      padding: 0 18px;
      position: relative; }
      .topBar .content li a span {
        margin-right: 4px; }
      .topBar .content li a em {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #ff0000;
        position: absolute;
        top: 12px;
        right: 13px;
        display: block; }
    .topBar .content li .on {
      background: #007eed;
      height: 43px; }
    .topBar .content li a:hover {
      background: #007eed;
      height: 43px; }
  .topBar .count .countBox {
    margin-right: 4px; }
    .topBar .count .countBox a {
      padding: 0 10px;
      font: 12px/43px "微软雅黑";
      display: block;
      color: #fff; }
      .topBar .count .countBox a i {
        margin-right: 5px; }
    .topBar .count .countBox .on {
      background: #007eed;
      height: 43px; }
    .topBar .count .countBox a:hover {
      background: #007eed;
      height: 43px; }
  .topBar .count .myCount {
    margin-right: 4px; }
    .topBar .count .myCount ul li {
      padding: 0 10px;
      font: 12px/43px "微软雅黑";
      display: block;
      color: #fff; }
      .topBar .count .myCount ul li i {
        margin-right: 5px; }
      .topBar .count .myCount ul li a {
        color: #fff; }

.header {
  width: 100%;
  height: 76px;
  background: #ffffff;
  position: relative; }
  .header h2 {
    width: 240px;
    position: relative;
    height: 100%; }
    .header h2 img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
  .header .search {
    width: 168px;
    height: 33px;
    margin-top: 21px;
    border: 1px solid #d9d9d9;
    border-radius: 14px;
    padding-left: 20px; }
    .header .search input {
      width: 136px;
      height: 12px;
      margin-top: 10px;
      font-family: "微软雅黑";
      color: #c3c3c3; }
    .header .search a {
      margin-top: 6px;
      margin-left: 4px; }
      .header .search a i {
        font-size: 17px;
        color: #000000; }
  .header .rmCon a {
    display: block;
    font: 13px/37px "微软雅黑";
    color: #000;
    padding: 0 13px;
    margin: 18px 15px;
    border: 2px solid #ffb400;
    border-radius: 2px; }
  .header .rmCon .yellow {
    border: 2px solid #ffb400; }
  .header .rmCon .blue {
    border: 2px solid #008aff; }
  .header .rmCon .green {
    border: 2px solid #55c916; }
  .header .rmCon .orange {
    border: 2px solid #ff5a00; }

.footer {
  padding: 34px 30px; }
  .footer .footerLeft ul li {
    font: 12px/35px "微软雅黑";
    color: #000;
    padding: 0 10px;
    background: url(../images/line.png) no-repeat right center; }
    .footer .footerLeft ul li a {
      color: #000; }
  .footer .footerLeft ul .last {
    background: none; }
  .footer .fx {
    padding-right: 84px; }
    .footer .fx li {
      font: 12px/43px "微软雅黑";
      color: #3e3e3e;
      vertical-align: middle; }
      .footer .fx li input, .footer .fx li button, .footer .fx li span {
        display: inline-block;
        vertical-align: middle; }
      .footer .fx li input {
        width: 236px;
        height: 26px;
        font: 12px/26px "微软雅黑";
        color: #3e3e3e;
        padding: 0;
        border: 1px solid #e2e2e3; }
      .footer .fx li button {
        width: 44px;
        height: 26px;
        font: 12px/26px "微软雅黑";
        color: #000;
        border: 1px solid #e2e2e3;
        text-align: center;
        margin: 0 4px; }
      .footer .fx li span {
        width: 30px;
        height: 30px;
        position: relative;
        background: url(../images/code_small.png) no-repeat center; }
        .footer .fx li span em {
          display: none;
          width: 164px;
          height: 164px;
          position: relative;
          background: #fff;
          left: -67px;
          top: -176px;
          border: 1px solid #666; }
          .footer .fx li span em img {
            width: 144px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto; }
      .footer .fx li span:hover em {
        display: block; }
  .footer p {
    width: 100%;
    text-align: center;
    font: 13px/29px "微软雅黑";
    color: #9a9a9a; }
    .footer p a {
      font: 13px/29px "微软雅黑";
      color: #9a9a9a; }
    .footer p .tousu {
      padding-left: 24px;
      background: url(../images/anquan.png) no-repeat left center; }

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 999;
  top: 0;
  left: 0; }
  .loading h2 {
    width: 138px;
    height: 32px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    margin: auto;
    font: 12px/32px "微软雅黑";
    color: #000;
    text-align: center;
    font-size: 0; }
    .loading h2 span, .loading h2 em {
      display: inline-block;
      vertical-align: middle;
      font: 12px/32px "微软雅黑"; }
    .loading h2 span {
      margin-right: 10px;
      animation: mymove 5s linear infinite; }

@keyframes mymove {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

@-moz-keyframes mymove /* Firefox */ {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

@-webkit-keyframes mymove /* Safari 和 Chrome */ {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

@-o-keyframes mymove /* Opera */ {
  from {
    transform: rotate(180deg); }
  to {
    transform: rotate(-180deg); } }

@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }

@-moz-keyframes rotate /* Firefox */ {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(190deg); } }

@-webkit-keyframes rotate /* Safari 和 Chrome */ {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }

@-o-keyframes rotate /* Opera */ {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }

.select {
  width: 96px;
  height: 35px;
  position: relative;
  border: 1px solid #e2e2e3;
  border-radius: 2px;
  color: #6c6c6c;
  cursor: pointer; }
  .select h4 {
    font: 12px/35px "微软雅黑";
    text-align: center;
    font-size: 0;
    vertical-align: middle; }
    .select h4 span, .select h4 em {
      font: 12px/35px "微软雅黑";
      display: inline-block; }
    .select h4 em {
      margin-right: 8px; }
    .select h4 .on {
      animation: rotate 0.3s linear forwards; }
  .select ul {
    position: absolute;
    border-bottom: 1px solid #e2e2e3;
    border-left: 1px solid #e2e2e3;
    border-right: 1px solid #e2e2e3;
    z-index: 9;
    width: 100%;
    left: -1px;
    background: #fff;
    top: 35px; }
    .select ul li {
      text-indent: 20px;
      font: 12px/35px "微软雅黑"; }
    .select ul li:hover {
      background: #e2e2e3; }
    .select ul .on {
      background: #e2e2e3; }

.explanation {
  margin-left: 26px;
  background: #fff;
  padding-bottom: 50px; }
  .explanation dl {
    padding-top: 9px; }
    .explanation dl dt, .explanation dl dd {
      text-indent: 11px; }
    .explanation dl dt {
      font: 12px/32px "微软雅黑";
      color: #333; }
    .explanation dl dd {
      font: 12px/24px "微软雅黑";
      color: #838383; }
      .explanation dl dd a {
        padding: 6px 5px;
        border: 1px solid #e2e2e3;
        color: #0088ff;
        border-radius: 3px; }

.container {
  width: 100%;
  background: #eeefef;
  margin-top: 22px; }
  .container .lBox {
    width: 182px;
    margin: 0 0.8% 0 3%;
    background: #ffffff; }
    .container .lBox .customerCenter {
      border-bottom: 2px solid #eeefef; }
      .container .lBox .customerCenter h2 {
        font: 15px/50px "微软雅黑";
        color: #afafaf;
        text-align: center;
        border-bottom: 2px solid #eeefef; }
      .container .lBox .customerCenter ul {
        padding-top: 8px; }
        .container .lBox .customerCenter ul li {
          font: 12px/28px "微软雅黑";
          color: #000000; }
        .container .lBox .customerCenter ul span {
          margin-left: 16%;
          margin-right: 6px; }
        .container .lBox .customerCenter ul em {
          margin-left: 6px; }
        .container .lBox .customerCenter ul a {
          padding: 3px;
          border-radius: 2px;
          border: 1px solid #e2e2e3;
          color: #505050;
          margin-left: 12px; }
        .container .lBox .customerCenter ul .hot {
          color: #ff4e00; }
      .container .lBox .customerCenter h3 {
        font-size: 0; }
        .container .lBox .customerCenter h3 span, .container .lBox .customerCenter h3 em {
          display: inline-block;
          vertical-align: top;
          padding: 9px 6px;
          font-size: 12px;
          font-family: "微软雅黑";
          color: #ffffff;
          text-align: center;
          margin: 6px 0 20px 0;
          cursor: pointer; }
        .container .lBox .customerCenter h3 span {
          background: #0088ff;
          margin-left: 16%; }
        .container .lBox .customerCenter h3 em {
          background: #5185b3;
          margin-left: 6px;
          padding-left: 22px;
          background: #f86193 url(../images/fj.png) no-repeat 7px center; }
    .container .lBox .setCusInfo {
      padding-top: 4px; }
      .container .lBox .setCusInfo dl dt, .container .lBox .setCusInfo dl dd a {
        padding-left: 36%;
        font: 12px/36px "微软雅黑";
        color: #979797;
        position: relative; }
        .container .lBox .setCusInfo dl dt span, .container .lBox .setCusInfo dl dd a span {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          position: absolute;
          background: #ff0000;
          top: -4px;
          right: -4px; }
      .container .lBox .setCusInfo dl dd a {
        color: #000; }
      .container .lBox .setCusInfo dl dd {
        border-left: 4px solid #fff; }
      .container .lBox .setCusInfo dl dd:hover {
        border-left: 4px solid #0088ff;
        background: #ecf6ff; }
      .container .lBox .setCusInfo dl .on {
        border-left: 4px solid #0088ff;
        background: #ecf6ff; }
      .container .lBox .setCusInfo .shmj dt {
        background: url(../images/hb.png) no-repeat 24% center; }
      .container .lBox .setCusInfo .shdd dt {
        background: url(../images/dd.png) no-repeat 24% center; }
      .container .lBox .setCusInfo .shzh dt {
        background: url(../images/zhzj.png) no-repeat 24% center; }
      .container .lBox .setCusInfo .shdl dt {
        background: url(../images/dltc.png) no-repeat 24% center; }
  .container .rBox {
    width: 81%;
    min-height: 600px;
    position: relative; }
    .container .rBox .mjsy {
      width: 100%; }
      .container .rBox .mjsy .leftBox {
        width: 73%; }
        .container .rBox .mjsy .leftBox .rmzq {
          padding-left: 20px;
          background: #fff;
          padding-top: 18px; }
          .container .rBox .mjsy .leftBox .rmzq h2 {
            font: 20px/20px "微软雅黑";
            color: #000;
            border-left: 4px solid #0088ff;
            margin: 0 0px 18px 0;
            padding-left: 7px; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon a {
            display: block;
            font: 13px/37px "微软雅黑";
            color: #000;
            padding: 0 13px;
            margin: 7px 15px;
            border: 2px solid #ffb400;
            border-radius: 2px; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .yellow {
            border: 2px solid #ffb400; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .blue {
            border: 2px solid #008aff; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .green {
            border: 2px solid #55c916; }
          .container .rBox .mjsy .leftBox .rmzq .rmCon .orange {
            border: 2px solid #ff5a00; }
        .container .rBox .mjsy .leftBox .jxtj, .container .rBox .mjsy .leftBox .zxsp {
          padding-left: 20px;
          padding-top: 18px;
          background: #fff; }
          .container .rBox .mjsy .leftBox .jxtj h2, .container .rBox .mjsy .leftBox .zxsp h2 {
            font: 20px/20px "微软雅黑";
            color: #000;
            border-left: 4px solid #0088ff;
            padding-left: 7px;
            margin: 0 0px 18px 0; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li {
            border-top: 1px solid #f1f1f1;
            border-bottom: 1px solid #f1f1f1;
            padding: 14px 0; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a span, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a em, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a i, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a b, .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a strong, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a span, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a em, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a i, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a b, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a strong {
              display: inline-block;
              vertical-align: top;
              font: 12px/21px "微软雅黑"; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a span, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a span {
              width: 36px;
              height: 21px;
              background: #fa9c22;
              border-radius: 10px;
              font: 12px/21px "微软雅黑";
              color: #fff;
              text-align: center;
              margin: 0 13px; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a em, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a em {
              width: 52%;
              color: #000; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a i, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a i {
              width: 21%;
              text-align: center;
              color: #8c8c8c; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a b, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a b {
              width: 8%;
              text-align: center;
              color: #000; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li a strong, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li a strong {
              width: 10%;
              text-align: center;
              font-weight: bold;
              color: #fa9c22;
              font-size: 14px; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox .jssp li:hover, .container .rBox .mjsy .leftBox .zxsp .jxBox .jssp li:hover {
            background: #ecf6ff; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation {
            text-align: center;
            font-size: 0; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation li, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation li {
              display: inline-block;
              vertical-align: top;
              border: 1px solid #e2e2e3;
              width: 32px;
              margin: 20px 6px;
              border-radius: 4px; }
              .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation li a, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation li a {
                font: 12px/32px "微软雅黑";
                color: #000;
                display: block; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation .on, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation .on {
              border: 1px solid #0088ff; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox .pagenation li:hover, .container .rBox .mjsy .leftBox .zxsp .jxBox .pagenation li:hover {
              border: 1px solid #0088ff; }
          .container .rBox .mjsy .leftBox .jxtj .jxBox h3, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 {
            text-align: center;
            font-size: 0; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox h3 span, .container .rBox .mjsy .leftBox .jxtj .jxBox h3 em, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 span, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 em {
              display: inline-block;
              vertical-align: middle;
              font: 12px/68px "微软雅黑";
              color: #0088ff; }
            .container .rBox .mjsy .leftBox .jxtj .jxBox h3 span, .container .rBox .mjsy .leftBox .zxsp .jxBox h3 span {
              margin: 0 5px; }
        .container .rBox .mjsy .leftBox .zxsp, .container .rBox .mjsy .leftBox .jxtj, .container .rBox .mjsy .leftBox .zxsp, .container .rBox .mjsy .leftBox .rmzq {
          margin-bottom: 10px; }
      .container .rBox .mjsy .rightBox {
        width: 25%;
        background: #fff; }
        .container .rBox .mjsy .rightBox .ptgg, .container .rBox .mjsy .rightBox .mjbz {
          padding-left: 29px;
          padding-bottom: 20px;
          border-bottom: 10px solid #eeefef; }
          .container .rBox .mjsy .rightBox .ptgg h2, .container .rBox .mjsy .rightBox .mjbz h2 {
            font: 20px/20px "微软雅黑";
            color: #000;
            border-left: 4px solid #0088ff;
            margin: 18px 0;
            padding-left: 7px; }
          .container .rBox .mjsy .rightBox .ptgg ul li a span, .container .rBox .mjsy .rightBox .ptgg ul li a em, .container .rBox .mjsy .rightBox .mjbz ul li a span, .container .rBox .mjsy .rightBox .mjbz ul li a em {
            font: 12px/31px "微软雅黑";
            color: #000000; }
          .container .rBox .mjsy .rightBox .ptgg ul li a span, .container .rBox .mjsy .rightBox .mjbz ul li a span {
            color: #919191;
            margin-right: 10px; }
          .container .rBox .mjsy .rightBox .ptgg ul li a em, .container .rBox .mjsy .rightBox .mjbz ul li a em {
            width: 62%; }
          .container .rBox .mjsy .rightBox .ptgg ul li a:hover em, .container .rBox .mjsy .rightBox .mjbz ul li a:hover em {
            text-decoration: underline; }

.adv {
  position: absolute;
  right: 26px;
  top: 0;
  padding-left: 28px;
  display: inline-block;
  height: 44px;
  overflow: hidden; }
  .adv li {
    font: 12px/44px "微软雅黑";
    background: url(../images/laba.png) no-repeat left center;
    padding-left: 30px; }
    .adv li a {
      color: #000; }

.mlfl {
  width: 100%;
  padding-top: 58px;
  background: #fff;
  height: 100%;
  min-height: 500px; }
  .mlfl h2 {
    width: 95%;
    margin: 5px auto;
    font: 12px/34px "微软雅黑";
    background: #e9f8ff;
    border: 1px solid #a4c2dc;
    text-indent: 10px; }
    .mlfl h2 a {
      color: #333;
      font-weight: bold; }
    .mlfl h2 a:hover {
      text-decoration: underline; }
  .mlfl table {
    width: 95%;
    margin: 5px auto; }
    .mlfl table td {
      border: 1px solid #e2e2e3;
      text-align: center;
      font: 12px/32px "微软雅黑";
      color: #000000; }
      .mlfl table td a {
        color: #000000; }
      .mlfl table td a:hover {
        text-decoration: underline; }

.myCollection {
  width: 100%;
  background: #fff;
  padding-bottom: 100px; }
  .myCollection h2 {
    width: 97%;
    margin: 0 auto;
    font: 16px/66px "微软雅黑";
    color: #000; }
    .myCollection h2 a {
      padding-left: 24px;
      background: url(../images/goback.png) no-repeat left center;
      margin-right: 10px;
      color: #0088ff; }
    .myCollection h2 span {
      font-weight: bold; }
  .myCollection .tableBox {
    width: 97%;
    overflow-x: auto; }
    .myCollection .tableBox table {
      width: 1619px; }
      .myCollection .tableBox table th {
        font: 12px/38px "微软雅黑";
        color: #000;
        font-weight: bold;
        background: #f1f1f1; }
      .myCollection .tableBox table td {
        font: 12px/50px "微软雅黑";
        text-align: center;
        vertical-align: middle; }
        .myCollection .tableBox table td img {
          margin: 0 auto;
          vertical-align: middle; }
        .myCollection .tableBox table td b {
          display: block;
          width: 100%;
          height: 100%; }
        .myCollection .tableBox table td .orange {
          color: #fa9c22;
          font-weight: bold; }
        .myCollection .tableBox table td button {
          padding: 7px 10px;
          background: #4a9fff;
          color: #fff;
          border-radius: 2px; }
        .myCollection .tableBox table td .colorPink {
          padding-left: 12px;
          color: #ff6666;
          background: url(../images/cha.png) no-repeat left center; }
      .myCollection .tableBox table .spxxTitle, .myCollection .tableBox table .spxx {
        width: 716px;
        padding-left: 30px; }
      .myCollection .tableBox table .kfqq {
        width: 140px; }
      .myCollection .tableBox table .mz, .myCollection .tableBox table .sj {
        width: 126px; }
      .myCollection .tableBox table .sc.gm {
        width: 100px; }
      .myCollection .tableBox table .mjcn {
        width: 216px; }
      .myCollection .tableBox table .spxx {
        text-align: left; }
        .myCollection .tableBox table .spxx a {
          display: block;
          width: 100%;
          height: 100%;
          color: #000;
          text-align: center;
          vertical-align: middle;
          font-size: 0; }
          .myCollection .tableBox table .spxx a span {
            padding: 0 5px;
            background: #ff7200;
            margin-right: 12px;
            color: #fff;
            border-radius: 10px;
            height: 22px;
            font: 12px/22px "微软雅黑";
            text-align: center;
            margin-top: 14px; }
          .myCollection .tableBox table .spxx a span, .myCollection .tableBox table .spxx a em {
            font-size: 12px; }
          .myCollection .tableBox table .spxx a em {
            width: 630px;
            text-align: left; }
      .myCollection .tableBox table tr {
        border-top: 1px solid #eeefef;
        border-bottom: 1px solid #eeefef; }
      .myCollection .tableBox table tr:hover {
        background: #ecf6ff; }

.myOrder {
  padding-top: 66px;
  padding-left: 16px;
  padding-bottom: 18px;
  background: #fff; }
  .myOrder .myOrderTop {
    border-top: 1px solid #daedfa;
    border-bottom: 1px solid #daedfa;
    padding: 28px 0; }
    .myOrder .myOrderTop .daysOfBox input {
      width: 294px;
      margin-right: 20px; }
    .myOrder .myOrderTop .daysOfBox button {
      font: 12px/22px "微软雅黑";
      border: 1px solid #9bc6e0;
      padding: 0 10px;
      margin: 0 4px;
      background: #fff;
      border-radius: 2px;
      margin-top: 5px; }
    .myOrder .myOrderTop .daysOfBox .on {
      background: #b5e3ff; }
    .myOrder .myOrderTop .orderSearch {
      margin-left: 20px; }
      .myOrder .myOrderTop .orderSearch label {
        font: 12px/32px "微软雅黑";
        color: #858585; }
      .myOrder .myOrderTop .orderSearch button {
        font: 12px/30px "微软雅黑";
        background: #1589ff;
        color: #fff;
        border-radius: 2px; }
      .myOrder .myOrderTop .orderSearch input {
        font: 12px/30px "微软雅黑";
        color: #cacaca;
        height: 30px;
        border: 1px solid #e2e2e3;
        border-radius: 2px;
        margin-left: 10px;
        padding-left: 10px;
        margin-right: 8px; }
  .myOrder .orderInfo .orderState {
    padding: 16px 0 0 0;
    position: relative; }
    .myOrder .orderInfo .orderState p {
      position: absolute;
      width: 100%;
      height: 0;
      border: 1px solid #e2e2e3;
      left: 0;
      bottom: 0;
      z-index: 1; }
    .myOrder .orderInfo .orderState ul {
      position: relative;
      z-index: 2; }
    .myOrder .orderInfo .orderState li {
      font: 12px/30px "微软雅黑";
      color: #000;
      border: 1px solid #e2e2e3;
      border-bottom: 2px solid transparent;
      padding: 0 18px;
      border-radius: 4px;
      margin: 0 2px; }
      .myOrder .orderInfo .orderState li a {
        color: #000;
        position: relative; }
        .myOrder .orderInfo .orderState li a span {
          position: absolute;
          right: -4px;
          top: -4px;
          width: 8px;
          height: 8px;
          background: #ff0000;
          border-radius: 4px; }
    .myOrder .orderInfo .orderState .on {
      border-bottom: 2px solid #fff; }
  .myOrder .orderInfo .orderBox {
    overflow-x: auto; }
    .myOrder .orderInfo .orderBox ul {
      width: 1830px; }
    .myOrder .orderInfo .orderBox .ddxx {
      width: 608px; }
    .myOrder .orderInfo .orderBox .czzh {
      width: 180px; }
    .myOrder .orderInfo .orderBox .sj, .myOrder .orderInfo .orderBox .jxlr, .myOrder .orderInfo .orderBox .ddzj, .myOrder .orderInfo .orderBox .gmsl {
      width: 120px; }
    .myOrder .orderInfo .orderBox .ddzt {
      width: 214px;
      font-size: 0;
      vertical-align: middle; }
      .myOrder .orderInfo .orderBox .ddzt em {
        display: inline-block;
        vertical-align: middle;
        margin: 0 4px; }
        .myOrder .orderInfo .orderBox .ddzt em img {
          margin-top: -2px; }
    .myOrder .orderInfo .orderBox .cz {
      width: 248px; }
    .myOrder .orderInfo .orderBox .ddxq {
      width: 92px; }
    .myOrder .orderInfo .orderBox .orderBoxTitle {
      background: #f1f1f1;
      margin-top: 20px;
      margin-bottom: 8px; }
      .myOrder .orderInfo .orderBox .orderBoxTitle li {
        font: 12px/36px "微软雅黑";
        font-weight: bold;
        color: #000;
        text-align: center; }
        .myOrder .orderInfo .orderBox .orderBoxTitle li a {
          color: #000; }
      .myOrder .orderInfo .orderBox .orderBoxTitle .ddxx {
        text-indent: 16px;
        text-align: left; }
    .myOrder .orderInfo .orderBox .orderBoxBottom li {
      border: 1px solid #e2e2e3;
      text-align: center;
      margin: 16px 0; }
      .myOrder .orderInfo .orderBox .orderBoxBottom li h2 {
        font: 12px/32px "微软雅黑";
        color: #858585;
        text-indent: 16px;
        text-align: left;
        border-bottom: 1px solid #e2e2e3; }
        .myOrder .orderInfo .orderBox .orderBoxBottom li h2 span {
          margin-right: 14px; }
      .myOrder .orderInfo .orderBox .orderBoxBottom li .orderInfo span {
        font: 12px/56px "微软雅黑";
        color: #000; }
        .myOrder .orderInfo .orderBox .orderBoxBottom li .orderInfo span em {
          color: #ff910f; }
        .myOrder .orderInfo .orderBox .orderBoxBottom li .orderInfo span i {
          padding: 8px;
          background: #ff4e4e;
          color: #fff;
          cursor: pointer;
          border-radius: 2px; }
        .myOrder .orderInfo .orderBox .orderBoxBottom li .orderInfo span b {
          color: #000;
          cursor: pointer;
          padding: 8px;
          border: 1px solid #e2e2e3;
          border-radius: 4px; }
        .myOrder .orderInfo .orderBox .orderBoxBottom li .orderInfo span a {
          color: #02c418; }
      .myOrder .orderInfo .orderBox .orderBoxBottom li .orderInfo .ddxx {
        text-align: left;
        text-indent: 16px;
        color: #0088ff; }
      .myOrder .orderInfo .orderBox .orderBoxBottom li .orderInfo .ddxq {
        color: #0088ff;
        cursor: pointer; }
    .myOrder .orderInfo .orderBox .orderBoxBottom li:hover {
      background: #f1f1f1; }
    .myOrder .orderInfo .orderBox .resultNone {
      padding-top: 70px; }
      .myOrder .orderInfo .orderBox .resultNone p {
        text-align: center;
        font: 12px/42px "微软雅黑";
        color: #878787; }
        .myOrder .orderInfo .orderBox .resultNone p img {
          margin: 0 auto; }
  .myOrder .orderInfo .pagenation .pageBox .page {
    margin-right: 30px; }
    .myOrder .orderInfo .pagenation .pageBox .page li {
      font: 12px/54px "微软雅黑"; }
      .myOrder .orderInfo .pagenation .pageBox .page li a {
        color: #666; }
        .myOrder .orderInfo .pagenation .pageBox .page li a span, .myOrder .orderInfo .pagenation .pageBox .page li a em, .myOrder .orderInfo .pagenation .pageBox .page li a i {
          padding: 12px;
          border: 1px solid #e2e2e3;
          margin: 0 2px; }
      .myOrder .orderInfo .pagenation .pageBox .page li .on {
        color: #fff; }
        .myOrder .orderInfo .pagenation .pageBox .page li .on span, .myOrder .orderInfo .pagenation .pageBox .page li .on em, .myOrder .orderInfo .pagenation .pageBox .page li .on i {
          border: 1px solid #ff4401;
          background: #ff4401; }
  .myOrder .orderInfo .pagenation .pageBox .jumping {
    font: 12px/54px "微软雅黑";
    color: #000; }
    .myOrder .orderInfo .pagenation .pageBox .jumping input {
      width: 38px;
      height: 32px;
      padding-left: 12px;
      border: 1px solid #e2e2e3;
      margin: 0 9px; }
    .myOrder .orderInfo .pagenation .pageBox .jumping a {
      padding: 9px 12px;
      color: #666;
      border: 1px solid #e2e2e3;
      margin: 0 8px; }

.afterSale {
  padding-top: 66px;
  padding-left: 16px;
  padding-bottom: 18px;
  background: #fff; }
  .afterSale .SaleTop {
    border-top: 1px solid #daedfa;
    border-bottom: 1px solid #daedfa;
    padding: 28px 0; }
    .afterSale .SaleTop .daysOfBox input {
      width: 294px;
      margin-right: 20px; }
    .afterSale .SaleTop .daysOfBox button {
      font: 12px/22px "微软雅黑";
      border: 1px solid #9bc6e0;
      padding: 0 10px;
      margin: 0 4px;
      background: #fff;
      border-radius: 2px;
      margin-top: 5px; }
    .afterSale .SaleTop .daysOfBox .on {
      background: #97d5f4; }
    .afterSale .SaleTop .orderSearch {
      margin-left: 20px; }
      .afterSale .SaleTop .orderSearch label {
        font: 12px/32px "微软雅黑";
        color: #858585; }
      .afterSale .SaleTop .orderSearch button {
        font: 12px/30px "微软雅黑";
        background: #1589ff;
        color: #fff;
        border-radius: 2px; }
      .afterSale .SaleTop .orderSearch input {
        font: 12px/30px "微软雅黑";
        color: #cacaca;
        height: 30px;
        border: 1px solid #e2e2e3;
        border-radius: 2px;
        margin-left: 10px;
        padding-left: 10px;
        margin-right: 8px; }
  .afterSale .saleInfo .saleState {
    padding: 16px 0 0 0;
    position: relative; }
    .afterSale .saleInfo .saleState p {
      position: absolute;
      width: 100%;
      height: 0;
      border: 1px solid #e2e2e3;
      left: 0;
      bottom: 0;
      z-index: 1; }
    .afterSale .saleInfo .saleState ul {
      position: relative;
      z-index: 2; }
    .afterSale .saleInfo .saleState li {
      font: 12px/30px "微软雅黑";
      color: #000;
      border: 1px solid #e2e2e3;
      border-bottom: 2px solid transparent;
      padding: 0 18px;
      border-radius: 4px;
      margin: 0 2px; }
      .afterSale .saleInfo .saleState li a {
        color: #000;
        position: relative; }
        .afterSale .saleInfo .saleState li a em {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background: #ff0000;
          position: absolute;
          right: -4px;
          top: -4px; }
    .afterSale .saleInfo .saleState .on {
      border-bottom: 2px solid #fff; }
  .afterSale .saleInfo .saleBox {
    overflow-x: auto; }
    .afterSale .saleInfo .saleBox ul {
      width: 1625px; }
    .afterSale .saleInfo .saleBox .xgdd {
      width: 608px; }
    .afterSale .saleInfo .saleBox .shzt {
      width: 220px; }
    .afterSale .saleInfo .saleBox .zt {
      width: 330px; }
    .afterSale .saleInfo .saleBox .cz {
      width: 140px; }
    .afterSale .saleInfo .saleBox .xq {
      width: 214px; }
    .afterSale .saleInfo .saleBox .saleBoxTitle {
      background: #f1f1f1;
      margin-top: 20px;
      margin-bottom: 8px; }
      .afterSale .saleInfo .saleBox .saleBoxTitle li {
        font: 12px/36px "微软雅黑";
        font-weight: bold;
        color: #000;
        text-align: center; }
        .afterSale .saleInfo .saleBox .saleBoxTitle li a {
          color: #000; }
      .afterSale .saleInfo .saleBox .saleBoxTitle .xgdd {
        text-align: left;
        text-indent: 62px; }
      .afterSale .saleInfo .saleBox .saleBoxTitle .ddxx {
        text-indent: 16px;
        text-align: left; }
    .afterSale .saleInfo .saleBox .saleBoxBottom li {
      border: 1px solid #e2e2e3;
      text-align: center;
      margin: 16px 0; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li h2 {
        font: 12px/32px "微软雅黑";
        color: #858585;
        text-indent: 16px;
        text-align: left;
        border-bottom: 1px solid #e2e2e3; }
        .afterSale .saleInfo .saleBox .saleBoxBottom li h2 span {
          margin-right: 14px; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos .xgdd {
        text-align: left;
        text-indent: 16px;
        color: #077cff; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos .ts, .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos .cx {
        padding: 7px; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos .cx {
        background: #4e99ff;
        color: #fff;
        margin: 0 4px; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos .ts {
        border: 1px solid #e2e2e3;
        color: #000; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos span {
        font: 12px/56px "微软雅黑";
        color: #000; }
        .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos span em {
          color: #ff8a00; }
        .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos span i {
          color: #000; }
        .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos span b {
          color: #000;
          cursor: pointer;
          padding: 8px;
          border: 1px solid #e2e2e3;
          border-radius: 4px; }
        .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos span a {
          color: #0088ff; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos .ddxx {
        text-align: left;
        text-indent: 16px;
        color: #0088ff; }
      .afterSale .saleInfo .saleBox .saleBoxBottom li .saleInfos .ddxq {
        color: #0088ff;
        cursor: pointer; }
    .afterSale .saleInfo .saleBox .saleBoxBottom li:hover {
      background: #f1f1f1; }
    .afterSale .saleInfo .saleBox .resultNone {
      padding-top: 70px; }
      .afterSale .saleInfo .saleBox .resultNone p {
        text-align: center;
        font: 12px/42px "微软雅黑";
        color: #878787; }
        .afterSale .saleInfo .saleBox .resultNone p img {
          margin: 0 auto; }
  .afterSale .saleInfo .pagenation .pageBox .page {
    margin-right: 30px; }
    .afterSale .saleInfo .pagenation .pageBox .page li {
      font: 12px/54px "微软雅黑"; }
      .afterSale .saleInfo .pagenation .pageBox .page li a {
        color: #666; }
        .afterSale .saleInfo .pagenation .pageBox .page li a span, .afterSale .saleInfo .pagenation .pageBox .page li a em, .afterSale .saleInfo .pagenation .pageBox .page li a i {
          padding: 12px;
          border: 1px solid #e2e2e3;
          margin: 0 2px; }
      .afterSale .saleInfo .pagenation .pageBox .page li .on {
        color: #fff; }
        .afterSale .saleInfo .pagenation .pageBox .page li .on span, .afterSale .saleInfo .pagenation .pageBox .page li .on em, .afterSale .saleInfo .pagenation .pageBox .page li .on i {
          border: 1px solid #ff4401;
          background: #ff4401; }
  .afterSale .saleInfo .pagenation .pageBox .jumping {
    font: 12px/54px "微软雅黑";
    color: #000; }
    .afterSale .saleInfo .pagenation .pageBox .jumping input {
      width: 38px;
      height: 32px;
      font: 12px/32px "微软雅黑";
      padding-left: 12px;
      border: 1px solid #e2e2e3;
      margin: 0 9px; }
    .afterSale .saleInfo .pagenation .pageBox .jumping a {
      padding: 9px 12px;
      color: #666;
      border: 1px solid #e2e2e3;
      margin: 0 8px; }
  .afterSale .saleInfo .illustrate dt, .afterSale .saleInfo .illustrate dd {
    font: 12px/24px "微软雅黑";
    color: #838383;
    text-indent: 16px; }
  .afterSale .saleInfo .illustrate dt {
    font-weight: bold;
    color: #323232; }

.recharge {
  background: #fff;
  padding: 94px 0 60px 0; }
  .recharge .rechargeMain {
    padding-bottom: 114px;
    margin-left: 26px;
    border-bottom: 1px solid #e2e2e3; }
    .recharge .rechargeMain .Prompt {
      text-align: center;
      margin-bottom: 38px; }
      .recharge .rechargeMain .Prompt dl {
        display: inline-block;
        height: 46px;
        border: 1px solid #85da8d;
        border-radius: 4px;
        margin: 0 auto;
        font: 13px/23px "微软雅黑";
        padding: 10px 60px;
        color: #10b122;
        background: url(../images/safe.png) no-repeat 16px center; }
        .recharge .rechargeMain .Prompt dl dt, .recharge .rechargeMain .Prompt dl dd {
          text-align: left; }
        .recharge .rechargeMain .Prompt dl dd {
          color: #72ab78; }
    .recharge .rechargeMain h2 {
      width: 255px;
      height: 42px;
      margin: 0 auto;
      text-align: left;
      font: 12px/42px "微软雅黑";
      color: #4d4d4d;
      font-weight: bold; }
    .recharge .rechargeMain ul li {
      width: 255px;
      height: 56px;
      margin: 8px auto;
      border: 1px solid #e2e2e3;
      border-radius: 1px;
      font: 12px/56px "微软雅黑";
      color: #4d4d4d; }
      .recharge .rechargeMain ul li input {
        margin: 0 22px; }
      .recharge .rechargeMain ul li label {
        padding: 12px 44px; }
      .recharge .rechargeMain ul li .wx {
        background: url(../images/wx.png) no-repeat left center; }
      .recharge .rechargeMain ul li .qqqb {
        background: url(../images/qqqb.png) no-repeat left center; }
      .recharge .rechargeMain ul li .zfb {
        background: url(../images/zfb.png) no-repeat left center; }
    .recharge .rechargeMain h3 {
      height: 43px;
      margin: 0 auto;
      position: relative; }
      .recharge .rechargeMain h3 input {
        width: 247px;
        height: 43px;
        padding: 0 4px;
        display: block;
        margin: 0 auto;
        border: 1px solid #e2e2e3;
        font: 12px/43px "微软雅黑";
        color: #666; }
      .recharge .rechargeMain h3 input:focus {
        border: 1px solid #0071d3; }
      .recharge .rechargeMain h3 span {
        width: auto;
        height: 37px;
        border: 1px solid #ff6a6a;
        border-radius: 1px;
        display: block;
        position: absolute;
        left: 50%;
        margin-left: 138px;
        font: 12px/37px "微软雅黑";
        top: 3px;
        padding-left: 34px;
        padding-right: 12px;
        color: #ff7171;
        background: url(../images/error.png) no-repeat 11px center; }
    .recharge .rechargeMain h4 {
      font: 12px/27px "微软雅黑";
      color: #8f8f8f;
      text-align: center; }
    .recharge .rechargeMain button {
      width: 256px;
      height: 43px;
      display: block;
      font: 16px/43px "微软雅黑";
      color: #fff;
      background: #0088ff;
      margin: 10px auto; }
    .recharge .rechargeMain .borderColor {
      border: 1px solid #0071d3; }
  .recharge .explanation {
    margin-left: 26px; }
    .recharge .explanation dl {
      padding-top: 9px; }
      .recharge .explanation dl dt, .recharge .explanation dl dd {
        text-indent: 11px; }
      .recharge .explanation dl dt {
        font: 12px/32px "微软雅黑";
        color: #333; }
      .recharge .explanation dl dd {
        font: 12px/24px "微软雅黑";
        color: #838383; }
        .recharge .explanation dl dd a {
          padding: 6px 5px;
          border: 1px solid #e2e2e3;
          color: #0088ff;
          border-radius: 3px; }

.record {
  padding: 50px 30px;
  background: #fff;
  position: relative; }
  .record h3 {
    font: 16px/50px "微软雅黑";
    border-bottom: 1px solid #e2e2e3;
    color: #000;
    text-indent: 20px;
    font-weight: bold;
    border-bottom: 1px solid #e2e2e3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .record h2 {
    font: 12px/38px "微软雅黑";
    color: #333; }
    .record h2 span {
      color: #ff5a00; }
    .record h2 span, .record h2 em {
      margin: 0 10px; }
    .record h2 em {
      color: #00b911; }
  .record .recordInfo {
    margin-top: 20px; }
    .record .recordInfo .daysOfBox {
      padding: 28px 20px;
      vertical-align: top;
      border: 2px solid #daedfa; }
      .record .recordInfo .daysOfBox input {
        width: 294px;
        margin-right: 20px; }
      .record .recordInfo .daysOfBox button {
        font: 12px/22px "微软雅黑";
        border: 1px solid #9bc6e0;
        padding: 0 10px;
        margin: 0 4px;
        background: #fff;
        border-radius: 2px;
        margin-top: 2px; }
    .record .recordInfo .recordInfos {
      padding-top: 28px;
      width: 100%;
      overflow-x: auto;
      min-height: 400px;
      border-bottom: 1px solid #e2e2e3; }
      .record .recordInfo .recordInfos table {
        width: 1575px; }
        .record .recordInfo .recordInfos table tr:hover {
          background: #f1f1f1; }
        .record .recordInfo .recordInfos table th {
          font: 12px/35px "微软雅黑";
          background: #f1f1f1;
          font-weight: bold;
          vertical-align: top;
          text-align: left; }
          .record .recordInfo .recordInfos table th select {
            appearance: none;
            -webkit-appearance: none;
            /*去除chrome浏览器的默认下拉图片*/
            -moz-appearance: none;
            /*去除Firefox浏览器的默认下拉图片*/
            background: url(../images/sanjiao.png) no-repeat 75px center;
            width: 100px;
            text-indent: 20px;
            font: 12px/35px "微软雅黑";
            color: #666;
            text-overflow: "";
            border-radius: 2px;
            text-align: center; }
            .record .recordInfo .recordInfos table th select option {
              font: 12px/30px "微软雅黑";
              text-indent: 20px; }
        .record .recordInfo .recordInfos table .czsjTitle {
          text-align: center; }
        .record .recordInfo .recordInfos table td {
          font: 12px/48px "微软雅黑";
          color: #000;
          text-align: left; }
        .record .recordInfo .recordInfos table .czsj {
          width: 320px;
          text-align: center; }
        .record .recordInfo .recordInfos table .zfdh {
          width: 281px; }
        .record .recordInfo .recordInfos table .zfqd {
          width: 220px; }
        .record .recordInfo .recordInfos table .czje {
          width: 70px; }
        .record .recordInfo .recordInfos table .syzt {
          width: 200px; }
        .record .recordInfo .recordInfos table .zfzt {
          width: 300px; }
          .record .recordInfo .recordInfos table .zfzt span {
            color: #ff5a00; }
        .record .recordInfo .recordInfos table .cz {
          width: 184px; }
          .record .recordInfo .recordInfos table .cz a {
            padding: 7px;
            border-radius: 4px;
            border: 1px solid #e2e2e3;
            color: #424242; }
  .record .explanation dl {
    padding-top: 9px; }
    .record .explanation dl dt, .record .explanation dl dd {
      text-indent: 11px; }
    .record .explanation dl dt {
      font: 12px/32px "微软雅黑";
      color: #333;
      font-weight: bold; }
    .record .explanation dl dd {
      font: 12px/24px "微软雅黑";
      color: #838383; }
      .record .explanation dl dd a {
        padding: 6px 5px;
        border: 1px solid #e2e2e3;
        color: #0088ff;
        border-radius: 3px; }

.getCash {
  background: #fff; }
  .getCash h3 {
    font: 16px/50px "微软雅黑";
    color: #000;
    text-indent: 24px;
    font-weight: bold;
    border-bottom: 1px solid #e2e2e3; }
  .getCash .getCashInfo {
    width: 550px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 110px;
    border-bottom: 1px solid #e2e2e3; }
    .getCash .getCashInfo .per {
      margin: 11px 0; }
      .getCash .getCashInfo .per label {
        width: 135px;
        text-align: right;
        font: 12px/35px "微软雅黑";
        color: #999;
        margin-right: 30px; }
      .getCash .getCashInfo .per p {
        font: 12px/35px "微软雅黑";
        color: #333; }
        .getCash .getCashInfo .per p span {
          margin-right: 6px; }
      .getCash .getCashInfo .per .green {
        color: #03b914; }
      .getCash .getCashInfo .per .warn {
        color: #ff2f2f; }
      .getCash .getCashInfo .per .orange {
        color: #ff7200;
        font-weight: bold; }
      .getCash .getCashInfo .per input {
        padding: 0 14px;
        font: 12px/36px "微软雅黑";
        height: 36px;
        border: 1px solid #e2e2e3; }
      .getCash .getCashInfo .per input:focus {
        border: 1px solid #0088ff; }
      .getCash .getCashInfo .per .on {
        border: 1px solid #0088ff; }
      .getCash .getCashInfo .per .select em {
        color: #000; }
    .getCash .getCashInfo .txfw span {
      font: 12px/35px "微软雅黑";
      margin-left: 10px; }
    .getCash .getCashInfo .txfw h5 {
      clear: both;
      font: 12px/28px "微软雅黑";
      color: #999;
      padding-left: 166px; }
    .getCash .getCashInfo .rkqd p {
      padding: 0 12px;
      background: #e8f4ff; }
    .getCash .getCashInfo button {
      display: block;
      width: 62px;
      height: 33px;
      text-align: center;
      font: 12px/33px "微软雅黑";
      color: #fff;
      background: #239fff;
      margin-left: 166px; }
