body,html{
    width: 100%;
    height: 100%;
    background: #ebecec;
    min-width: 1200px;
}
//基本样式
$color_blue:#0088ff;//主色调蓝色
$color_red:#ff3030;//着重色红色
$color_orange:#ff4e00;//着重色橘色
$bg_blue:#edf6ff;//价格栏的背景色
$line_gray:#e2e2e3;//横线的灰色
$color_3:#333;//字的颜色333
$color_6:#666;//字的颜色666
$color_9:#999;//字的颜色999
$btn_h:36px;//li按钮的高度，input的高度
$font_input:12px;//input的输入字体大小
$hover_blue:#0071d3;//按钮鼠标移上的深蓝
$cannot_click:#d5d5d5;//按钮不能点击的灰色
$hover_gray:#f4f4f4;//鼠标移上变深灰

//商品类型颜色
$sp_orange:#fa9c22;//橙色
$sp_blue:#48affb;//蓝色
$sp_green:#09c770;//绿色
$sp_green:#ff489a;//浅紫色
.topBar{
    width: 100%;
    background: #0088ff;
    position: relative;
    height: 43px;
    h2{
       font: 13px/43px "微软雅黑"; 
       font-weight: bold;
       color: #91ccff;
       padding: 0 30px;
    }
    .content{
        li{
            a{
                display: block;
                font: 11px/43px "微软雅黑";
                color: #ffffff;
                padding: 0 18px;
                position: relative;
                span{
                    margin-right: 4px;
                }
                em{
                    width: 6px;
                    height: 6px;
                    border-radius: 3px;
                    background: #ff0000;
                    position: absolute;
                    top: 12px;
                    right: 13px;
                    display: block;
                }
            }
            .on{
                background: #007eed;
                height: 43px;
            }
            a:hover{
                background: #007eed;
                height: 43px;
            }
        }
    }
    .count{
        .countBox{
            margin-right: 4px;
            a{
                padding:0 10px;
                font: 12px/43px "微软雅黑";
                display: block;
                color: #fff;
                i{
                    margin-right: 5px;
                }
            }
            .on{
                background: #007eed;
                height: 43px;
            }
            a:hover{
                background: #007eed;
                height: 43px;
            }
        }
        .myCount{
            margin-right: 4px;
            ul{
                li{
                    padding:0 10px;
                    font: 12px/43px "微软雅黑";
                    display: block;
                    color: #fff;
                    i{
                        margin-right: 5px;
                    }
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}
.header{
    width: 100%;
    height: 76px;
    background: #ffffff;
    position: relative;
    h2{
        width:240px;
        position: relative;
        height: 100%;
        img{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin:auto;
        }
    }
    .search{
        width: 168px;
        height: 33px;
        position: absolute;
        left: 240px;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid #d9d9d9;
        border-radius: 14px;
        padding-left: 20px;
        input{
            width: 136px;
            height: 12px;
            margin-top: 10px;
            font-family: "微软雅黑";
            color: #c3c3c3;
        }
        a{
            margin-top: 6px;
            margin-left: 4px;
            i{
                font-size: 17px;
                color: #000000;
            }
        }
    }
}
//底部样式
.footer{
    width: 100%;
    padding-top: 70px;
    p{
        width: 100%;
        text-align: center;
        font: 13px/29px "微软雅黑";
        color: #9a9a9a;
        a{
            font: 13px/29px "微软雅黑";
            color: #9a9a9a;
        }
        .tousu{
            padding-left: 24px;
            background: url(../images/anquan.png) no-repeat left center;
        }
    }
}
//loading
.loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(000,000,000,0.2);
    z-index: 999;
    top: 0;
    left: 0;
    h2{
        width: 138px;
        height: 32px;
        background: #fff;
        border-radius: 4px;
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        margin: auto;
        font: 12px/32px "微软雅黑";
        color: #000;
        text-align: center;
        font-size:0 ;
        span,em{
            display: inline-block;
            vertical-align: middle;
            font: 12px/32px "微软雅黑";
        }
        span{
            margin-right: 10px;
            animation: mymove 5s linear infinite;
        }
    }
}
//loading动画
@keyframes mymove
{
from {transform:rotate(180deg);}
to {transform:rotate(-180deg);}
}

@-moz-keyframes mymove /* Firefox */
{
from {transform:rotate(180deg);}
to {transform:rotate(-180deg);}
}

@-webkit-keyframes mymove /* Safari 和 Chrome */
{
from {transform:rotate(180deg);}
to {transform:rotate(-180deg);}
}

@-o-keyframes mymove /* Opera */
{
from {transform:rotate(180deg);}
to {transform:rotate(-180deg);}
}
// 买家中心样样式
.container{
    width: 100%;
    background: #eeefef;
    margin-top: 22px;
    .lBox{
        width: 12%;
        margin:0 0.8% 0 3%;
        background: #ffffff;
        .customerCenter{
            border-bottom: 2px solid #eeefef;
            h2{
                font: 15px/50px "微软雅黑";
                color: #afafaf;
                text-align: center;
                border-bottom: 2px solid #eeefef;
            }
            ul{
                padding-top: 8px;
                li{
                    font: 12px/28px "微软雅黑";
                    color: #000000;
                }
                span{
                    margin-left: 16%;
                    margin-right: 6px;
                }
                em{
                    margin-left: 6px;
                }
                .hot{
                    color: $color_orange;
                }
            }
            h3{
                font-size: 0;
                text-align: center;
                padding-top: 10px 0;
                span,em{
                    display: inline-block;
                    vertical-align: top;
                    width: 58px;
                    height: 34px;
                    font: 12px/34px "微软雅黑";
                    color: #ffffff;
                    text-align: center;
                    margin:10px 5px;
                    cursor: pointer;
                }
                span{
                    background: #0088ff;
                    margin-left: 0;
                }
                em{
                    background: #5185b3;
                    margin-right: 0;
                }
            }
        }
        .setCusInfo{
            padding-top: 4px;
            dl{
                dt,dd a{
                    padding-left: 36%;
                    font: 12px/36px "微软雅黑";
                    color: #979797;
                }
                dd a{
                    color: #000;
                }
                dd{
                    border-left: 4px solid #fff;
                }
                dd:hover{
                    border-left: 4px solid $color_blue;
                    background: #ecf6ff;
                }
                .on{
                     border-left: 4px solid $color_blue;
                    background: #ecf6ff;
                }
            }
            .shmj dt{
                background: url(../images/hb.png) no-repeat 24% center;
            }
            .shdd dt{
                background: url(../images/dd.png) no-repeat 24% center;
            }
            .shzh dt{
                background: url(../images/zhzj.png) no-repeat 24% center;
            }
            .shdl dt{
                background: url(../images/dltc.png) no-repeat 24% center;
            }
        }
    }
    .rBox{
        width: 81%;
        min-height: 600px;
        .mjsy{
            width: 100%;
            .leftBox{
                width: 73%;
//              margin-left: 1.7%;
                .rmzq{
                    padding-left: 20px;
                    background: #fff;
                    padding-top: 18px;
                    h2{
                        font: 20px/20px "微软雅黑";
                        color: #000;
                        border-left: 4px solid $color_blue;
                        margin:0 0px 18px 0;
                        padding-left: 7px;
                    }
                    .rmCon{
                        a{
                          display: block;
                          font: 13px/37px "微软雅黑";
                          color: #000;
                          padding:0 13px;   
                          margin:7px 15px;
                          border: 2px solid #ffb400;
                          border-radius: 2px ;
                        }
                        .yellow{
                            border: 2px solid #ffb400;
                        }
                        .blue{
                            border: 2px solid #008aff;
                        }
                        .green{
                            border: 2px solid #55c916;
                        }
                        .orange{
                            border: 2px solid #ff5a00;
                        }
                    }
                }
                .jxtj,.zxsp{
                    padding-left: 20px;
                    padding-top: 18px;
                    background: #fff;
                    h2{
                        font: 20px/20px "微软雅黑";
                        color: #000;
                        border-left: 4px solid $color_blue;
                        padding-left: 7px;
                        margin:0 0px 18px 0;
                    }
                    .jxBox{
                        .jssp{
                            li{
                                border-top: 1px solid #f1f1f1;
                                border-bottom: 1px solid #f1f1f1;
                                padding: 14px 0;
                                a{
                                    span,em,i,b,strong{
                                        display: inline-block;
                                        vertical-align: top;
                                        font: 12px/21px "微软雅黑";
                                    }
                                    span{
                                        width: 36px;
                                        height: 21px;
                                        background: $sp_orange;
                                        border-radius: 10px;
                                        font: 12px/21px "微软雅黑";
                                        color: #fff;
                                        text-align: center;
                                        margin:0 13px ;
                                    }
                                    em{
                                        width: 52%;
                                        color: #000;
                                    }
                                    i{
                                        width: 21%;
                                        text-align: center;
                                        color: #8c8c8c;
                                    }
                                    b{
                                        width: 8%;
                                        text-align: center;
                                        color: #000;
                                    }
                                    strong{
                                        width: 10%;
                                        text-align: center;
                                        font-weight: bold;
                                        color: $sp_orange;
                                        font-size: 14px;
                                    }
                                }
                            }
                            li:hover{
                                background: #ecf6ff;
                            }
                        }
                        .pagenation{
                            text-align: center;
                            font-size: 0;
                            li{
                                display: inline-block;
                                vertical-align: top; 
                                border: 1px solid $line_gray;
                                width: 32px;
                                margin:20px 6px;
                                border-radius: 4px;
                                a{
                                    font: 12px/32px "微软雅黑";
                                    color: #000;
                                   display: block;
                                }
                            }
                            .on{
                                border: 1px solid $color_blue;
                            }
                            li:hover{
                                border: 1px solid $color_blue;
                            }
                        }
                        h3{
                            text-align: center;
                            font-size: 0;
                            span,em{
                                display: inline-block;
                                vertical-align: middle;
                                 font: 12px/68px "微软雅黑";
                                color: $color_blue;
                            }
                            span{
                               margin:0 5px;
                            }
                        }
                    }
                }
                .zxsp,.jxtj,.zxsp,.rmzq{
                    margin-bottom: 10px;
                }
            }
            .rightBox{
                width: 25%;
                background: #fff;
                .ptgg,.mjbz{
                    padding-left: 29px;
                    padding-bottom: 20px;
                    border-bottom: 10px solid #eeefef;
                    h2{
                        font: 20px/20px "微软雅黑";
                        color: #000;
                        border-left: 4px solid $color_blue;
                        margin:18px 0;
                        padding-left: 7px;
                    }
                    ul{
                        li{
                            a{
                                span,em{
                                    font: 12px/31px "微软雅黑";
                                    color: #000000;
                                }
                                span{
                                    color: #919191;
                                    margin-right: 10px;
                                    
                                }
                                em{
                                    width: 62%;
                                }
                            }
                            a:hover{
                                em{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//目录分类页样式
.mlfl{
    width: 100%;
    padding-top: 58px;
    background: #fff;
    height: 100%;
    min-height: 500px;
    h2{
        width: 95%;
        margin:5px auto;
        font: 12px/34px "微软雅黑";
        background: #e9f8ff;
        border: 1px solid #a4c2dc;
        text-indent: 10px;
        a{
            color: $color_3;
            font-weight: bold;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    table{
        width: 95%;
        margin:5px auto;
        td{
            border:1px solid $line_gray;
            text-align: center;
            font: 12px/32px "微软雅黑";
            color: #000000;
            a{
                color: #000000;
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}
//我的收藏
.myCollection{
    width: 100%;
    background: #fff;
    padding-bottom: 100px;
    h2{
        width: 97%;
        margin:0 auto;
        font: 16px/66px "微软雅黑";
        color: #000;
        a{
           padding-left: 24px;
           background: url(../images/goback.png) no-repeat left center; 
           margin-right: 10px;
           color: $color_blue;
        }
        span{
            font-weight: bold;
        }
    }
    .tableBox{
        width: 97%;
        overflow-x: auto;
        table{
            width: 1619px;
            th{
                font:12px/38px "微软雅黑" ;
                color: #000;
                font-weight: bold;
                background: #f1f1f1;
            }
            td{
                font: 12px/50px "微软雅黑";
                text-align: center;
                vertical-align: middle;
                img{
                    margin:0 auto;
                    vertical-align: middle;
                }
                b{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .orange{
                    color: $sp_orange;
                    font-weight: bold;
                }
                button{
                    padding: 7px 10px;
                    background: #4a9fff;
                    color: #fff;
                    border-radius: 2px;
                }
                .colorPink{
                    color: #ff6666;
                }
            }
            .spxxTitle,.spxx{
                width: 716px;
                 padding-left: 30px;
            }
            .kfqq{
                width: 140px;
            }
            .mz,.sj{
                width:126px;
            }
            .sc.gm{
                width: 100px;
            }
            .mjcn{
                width: 216px;
            }
            .spxx{
               
                text-align: left;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #000;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 0;
                    span{
                        padding:0 5px;
                        background: #ff7200;
                        margin-right: 12px;
                        color: #fff;
                        border-radius: 10px;
                        height: 22px;
                        font: 12px/22px "微软雅黑";
                        text-align: center;
                        
                        margin-top: 14px;
                    }
                    span,em{
                        font-size: 12px;
                    }
                    em{
                        width: 630px;
                        text-align: left;
                    }
                }
            }
            tr{
                border-top: 1px solid #eeefef;
                border-bottom: 1px solid #eeefef;
            }
            tr:hover{
                background: #ecf6ff;
            }
        }
    }
    
}
.myOrder{
    padding-top: 66px;
    padding-left: 16px;
    background: #fff;
    .myOrderTop{
        border-top: 1px solid #daedfa;
        border-bottom: 1px solid #daedfa;
        padding: 28px 0;
        .daysOfBox{
            input{
                width: 294px;
                margin-right: 20px;
            }
            button{
                font: 12px/22px "微软雅黑";
                border: 1px solid #9bc6e0;
                padding: 0 10px;
                margin:0 4px;
                background: #fff;
                border-radius: 2px;
                margin-top: 5px;
            }
        }
        .orderSearch{
            margin-left: 20px;
            label{
                font: 12px/32px "微软雅黑";
                color: #858585;
            }
            button{
                font: 12px/30px "微软雅黑";
                background: #1589ff;
                color: #fff;
                border-radius: 2px;
            }
            input{
                font: 12px/30px "微软雅黑";
                color: #cacaca;
                border: 1px solid $line_gray;
                border-radius: 2px;
                margin-left: 10px;
                padding-left: 10px;
                margin-right: 8px;
            }
        }
    }
    .orderInfo{
        .orderState{
            padding:16px 0 0 0;
            position: relative;
            p{
                position: absolute;
                width: 100%;
                height: 0;
                border: 1px solid $line_gray;
                left: 0;
                bottom: 0;
                z-index: 1;
            }
            ul{
                position: relative;
                z-index: 2;
            }
            li{
                font: 12px/30px "微软雅黑";
                color: #000;
                border: 1px solid $line_gray;
                border-bottom: 2px solid transparent;
                padding: 0 18px;
                border-radius: 4px;
                margin:0 2px;
                a{
                    color: #000;
                }
            }
            .on{
                border-bottom: 2px solid #fff;
            }
        }
    }
}
